BOT_TOKEN=1234567890:AABBCCDDEEFFGG
ADMINS_ID=0000000000
USE_REDIS=True/False

REDIS_HOST=redis_cache
REDIS_PORT=6789
REDIS_DB=0
REDIS_PASSWORD=you_password
NGROK_AUTHTOKEN=[Get Token on ngrok.com]
NGROK_DOMAIN=[Get domain on ngrok.com]

WEBHOOK_BASE_URL=https://[Get domain on ngrok.com]
WEBHOOK_PATH=/random
WEBHOOK_HOST=0.0.0.0
WEBHOOK_PORT=5050
WEBHOOK_SECRET=you_secret